* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-style: normal;
}

:root {
    --primary-color: #ffffff;
    --secondary-color: #1d5969;
    --tertiary-color: #474747;
    --accent1-color: #ffffff;
    --accent2-color: #000000;
    --accent3-color: #fbff00;
    --heading-font: 'Montserrat', sans-serif;
    --body-font: 'Roboto', sans-serif;
}

body {
    font-family: var(--body-font);
}

header {
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    padding: 20px 0 0 0;
    position: relative;
    display: flex;
    flex-direction: column;
}

header nav ul {
    list-style: none;
    display: flex;
    flex-direction: column; 
    background-color: var(--tertiary-color);
    width: 100%;
}

header nav a {
    color: var(--accent1-color);
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 12px 20px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

nav a:hover {
    color: var(--accent3-color);
    background-color: var(--accent2-color);
}

#menu {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 2rem;
    background: none;
    border: none;
    color: var(--accent1-color);
    cursor: pointer;
}

#menu::before {
    content: "☰";
}

#menu.show::before {
    content: "❌";
}

.hamburger {
    list-style: none;
    display: none;
    flex-direction: column;
    background-color: var(--tertiary-color);
    width: 100%;
}

.hamburger.show {
    display: flex;
}

main {
    padding: 15px;
}

main h2 {
    font-family:  var(--heading-font);
    text-align: center;
    gap: 15px;
}

figure {
    background-color: var(--primary-color);
    border: 1px solid var(--accent1-color);
    box-shadow: 0 2px 5px var(--accent2-color);
}

.temple {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

figure img {
    width: 100%;
    height: auto;
    display: block;
}

figcaption {
    padding: 10px;
    text-align: center;
    font-family: var(--heading-font);
    font-weight: bold;
}

footer {
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    text-align: center;
    padding: 30px;
    margin-top: 40px;
    border-top: 5px solid var(--accent3-color);
}

footer p {
    margin: 8px 0;
}